.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
.counties {
    fill: white;
}
.countiesIN {
    fill: white;
    stroke-dasharray: 3, 3; 
    stroke-width: .5px;
    stroke: #969696; 
  }
.communities {
    stroke: #969696;
    stroke-width: 1.5;
    stroke-linecap: round;
  }
.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}
.gratBackground {
    fill: #D5E3FF;
}
.place-label {
    fill: #969696;
    fill-opacity: .5;
    font-size: 13px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    }
.chicago-label {
    fill: #969696;
    fill-opacity: 1;
    font-size: 30px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    }
.city-point {
    fill: #969696;
}
.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    fill: #969696;
}

.chartBackground {
    fill: white;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}
